.card {
    background: #e9ecef;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;    
}
.card-header{
    background-color: transparent;
    text-align: center;
}
button{
    align-items: center;
}
